Setmacmining/node_modules
Setmacmining/public/build
Setmacmining/public/hot
Setmacmining/public/storage
/storage
Setmacmining/storage/*.key
Setmacmining/vendor
Setmacmining/.env
Setmacmining/.env.backup
Setmacmining/.phpunit.result.cache
Setmacmining/Homestead.json
Setmacmining/Homestead.yaml
Setmacmining/auth.json
Setmacmining/npm-debug.log
Setmacmining/yarn-error.log
Setmacmining/.idea
Setmacmining/.vscode
